@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
        box-shadow: 0px 0px 0px 0px #fff;
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 10px #fff0;
    
    }
}