.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contenction {
  width: min(100%, 1000px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1, h2, h3, h4, h5, h6, p {
 text-wrap: balance;
}

img {
  width: min(100%, 600px);
}

.counter {
  width: 100%;
  height: 60px;
  background-color: var(--dark-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  & .counter-value {
    margin-left: 10px;
  }
}

button {
  cursor: pointer;
  border: none;
  background-image: linear-gradient(120deg, var(--dark-pink), var(--gold));
  background-size: 200% 200%;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite;

  &:hover {
    background-position: 100%;
  }
}

.divider {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(
    120deg,
    var(--dark-pink),
    var(--gold)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  height: 150px;
  margin-top: -100px;
  position: relative;
  z-index: 999;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & li {
      list-style: none;
      font-family: var(--unnamed-font-family-segoe-ui);
      font-weight: 400;
      font-size: 1rem;
      padding: 0 10px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }

}

.card-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0;
  height: auto;
  max-width: 1000px;
}

.card {
    width: 300px;
    height: 250px;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
    padding: 40px 0;

    & img {
        width: 80px;
        height: 80px;
        margin: auto;
        display: block;
    }

    & p {
        margin: 0 30px;
        font-weight: 400;
    }
}

.checked-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    align-self: flex-start;

    h3, p {
        margin: 0;
    }

    & img {
        width: 80px;
        filter: brightness(500);

    }
    &::before {
        content: "";
        position: relative;
        left: 65px;
        top: 50px;
        min-width: 10px;
        height: 50px;
        background-color: #fff;
    }
}

.column {
    flex-direction: column !important;
}

[destaque="rosa-escuro"] {
  color: var(--dark-pink);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

[destaque="rosa-claro"] {
  color: var(--pink);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

[destaque="amarelo"] {
  color: var(--gold);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
