@import url("variables.css");
@import url("globals.css");
@import url("animations.css");
@import url("responsive.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  font-family: var(--unnamed-font-family-segoe-ui);
  font-weight: 400;
  font-size: var(--unnamed-font-size-29);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.home {
  background-image: linear-gradient(to left, transparent, #0008),
    url(img/lines\ copiar.webp), url(img/first-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  & .logo {
    width: 200px;
    align-self: flex-start;
  }
  & .destaques-segoe {
    font-weight: 400;
  }
  & .container:nth-child(2) {
    flex-direction: row-reverse;
    & .person {
      width: 400px;
      position: relative;
      top: 30px;
      z-index: 1;
    }
  }
}

.cards {
  background-image: 
  linear-gradient(to bottom,
  #fff8, #fff),
  url(img/tree.webp), 
  url(img/lines\ copiar.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;

  & .citaction {
    padding: 100px 0;
    border: 1px dashed var(--gold);
    border-radius: 15px;
    margin: 0 20px;
    text-align: center;
    background-color: #fff8;

    & p:nth-child(2) {
      font-weight: 600;
      text-align: center;
      position: relative;
      left: 20%;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

.trid {
    background-image: url(img/first-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0;

    & .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 1px solid var(--gold);
        background-image: var(--gradient-2);
    }
}


